/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        tap_hold_layer: tap_hold_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_HOLD_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <38>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        root {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            label = "Base";
            bindings = <
&kp TAB     &kp Q           &kp W           &kp E        &kp R      &kp T              &kp Y         &kp U                 &kp I        &kp O           &kp P                   &kp BSPC
&kp ESCAPE  &mt LEFT_WIN A  &mt LEFT_ALT S  &mt LCTRL D  &kp F      &kp G              &kp H         &kp J                 &mt LCTRL K  &mt LEFT_ALT L  &mt LEFT_WIN SEMICOLON  &lt 4 SINGLE_QUOTE
&kp LSHFT   &kp Z           &kp X           &kp C        &kp V      &kp B              &kp N         &kp M                 &kp COMMA    &kp DOT         &kp FSLH                &kp EQUAL
                                            &sl 3        &kp SPACE  &lt 1 BACKSPACE    &lt 2 DELETE  &mt LEFT_SHIFT ENTER  &to 1
            >;
        };

        num {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            label = "Numbers";
            bindings = <
&kp TAB  &kp LEFT_BRACKET          &kp RIGHT_BRACKET     &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp PIPE        &kp SLASH     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EQUAL     &kp BACKSLASH  &kp BSPC
&trans   &kp NUMBER_1              &kp NUMBER_2          &kp NUMBER_3    &kp NUMBER_4     &kp NUMBER_5    &kp NUMBER_6  &kp NUMBER_7          &kp NUMBER_8           &kp NUMBER_9  &kp NUMBER_0   &kp LSHFT
&trans   &mt LEFT_WIN EXCLAMATION  &mt LEFT_ALT AT_SIGN  &mt LCTRL HASH  &trans           &trans          &trans        &trans                &trans                 &trans        &trans         &kp LGUI
                                                         &to 0           &trans           &trans          &trans        &trans                &to 2
            >;
        };

        nav {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            label = "Navigation";
            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &trans    &trans  &trans    &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                             &to 0     &trans    &kp SPACE    &kp RET    &trans     &kp RALT
            >;
        };

        tmux {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        kb {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "Keyboard";
        };
    };
};
